body{
    background-color: lightgray;
}

button{
    padding: 10px;
    margin: 10px;
}

h3{
    margin-left: 20px;
}

/*#taltext{
    margin-left: 40px;
}*/

.texttal{
    margin-left: 40px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}